/* Order Section */

.Order {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

div#Pineapple {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/pineapple-background.jpg);
  background-size: cover;
  font-size: 200%;
}

div#Pineapple:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/pineapple-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow: 10px 10px 5px #131c27;
  font-style: italic;
  scale: 1.035;
}

div#Strawberry {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/strawberry-background.jpg);
  background-size: cover;
  font-size: 200%;
}

div#Strawberry:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/strawberry-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow: 10px 10px 5px #131c27;
  font-style: italic;
  scale: 1.035;
}

div#Blueberry {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/blueberry-background.jpg);
  background-size: cover;
  font-size: 200%;
}

div#Blueberry:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/blueberry-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow: 10px 10px 5px #131c27;
  font-style: italic;
  scale: 1.035;
}

div#Black-Forest {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/black-forest.jpg);
  background-size: cover;
  font-size: 200%;
}

div#Black-Forest:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/black-forest.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow: 10px 10px 5px #131c27;
  font-style: italic;
  scale: 1.035;
}

div#Mango {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/mango-background.jpg);
  background-size: cover;
  font-size: 200%;
}

div#Mango:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/mango-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow: 10px 10px 5px #131c27;
  font-style: italic;
  scale: 1.035;
}

div#Butterscotch {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/butterscotch-background.jpg);
  background-size: cover;
  font-size: 200%;
}

div#Butterscotch:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/butterscotch-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow: 10px 10px 5px #131c27;
  font-style: italic;
  scale: 1.035;
}

div#Chocolate-Ganache {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/chocolate-ganache.png);
  background-size: cover;
  text-align: center;
  font-size: 200%;
}

div#Chocolate-Ganache:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/chocolate-ganache.png);
  background-size: cover;
  cursor: pointer;
  box-shadow: 10px 10px 5px #131c27;
  font-style: italic;
  scale: 1.035;
}