/* Order Section */

.Order {
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
  }
  
  div#Pineapple {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/pineapple-background.jpg);
    background-size: cover;
    font-size: 200%;
  }
  
  div#Pineapple:hover {
    background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/pineapple-background.jpg);
    background-size: cover;
    cursor: pointer;
    box-shadow: 10px 10px 5px #131c27;
    font-style: italic;
    scale: 1.035;
  }
  
  div#Strawberry {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/strawberry-background.jpg);
    background-size: cover;
    font-size: 200%;
  }
  
  div#Strawberry:hover {
    background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/strawberry-background.jpg);
    background-size: cover;
    cursor: pointer;
    box-shadow: 10px 10px 5px #131c27;
    font-style: italic;
    scale: 1.035;
  }
  
  div#Blueberry {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/blueberry-background.jpg);
    background-size: cover;
    font-size: 200%;
  }
  
  div#Blueberry:hover {
    background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/blueberry-background.jpg);
    background-size: cover;
    cursor: pointer;
    box-shadow: 10px 10px 5px #131c27;
    font-style: italic;
    scale: 1.035;
  }
  
  div#Black-Forest {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/black-forest.jpg);
    background-size: cover;
    font-size: 200%;
  }
  
  div#Black-Forest:hover {
    background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/black-forest.jpg);
    background-size: cover;
    cursor: pointer;
    box-shadow: 10px 10px 5px #131c27;
    font-style: italic;
    scale: 1.035;
  }
  
  div#Mango {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/mango-background.jpg);
    background-size: cover;
    font-size: 200%;
  }
  
  div#Mango:hover {
    background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/mango-background.jpg);
    background-size: cover;
    cursor: pointer;
    box-shadow: 10px 10px 5px #131c27;
    font-style: italic;
    scale: 1.035;
  }
  
  div#Butterscotch {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/butterscotch-background.jpg);
    background-size: cover;
    font-size: 200%;
  }
  
  div#Butterscotch:hover {
    background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/butterscotch-background.jpg);
    background-size: cover;
    cursor: pointer;
    box-shadow: 10px 10px 5px #131c27;
    font-style: italic;
    scale: 1.035;
  }
  
  div#Chocolate-Ganache {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../../assets/images/chocolate-ganache.png);
    background-size: cover;
    text-align: center;
    font-size: 200%;
  }
  
  div#Chocolate-Ganache:hover {
    background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(../../assets/images/chocolate-ganache.png);
    background-size: cover;
    cursor: pointer;
    box-shadow: 10px 10px 5px #131c27;
    font-style: italic;
    scale: 1.035;
  }
  
  /* inspired by: https://css-tricks.com/responsive-data-tables/ */
  .responsiveTable {
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: center;
    justify-content: space-evenly;
    font-size: 150%;
    background: linear-gradient(rgba(232, 237, 255, 0.774), transparent)
  }
  
  .responsiveTable td .tdBefore {
    display: none;
  }
  
  @media screen and (max-width: 40em) {
    /*
      Force table elements to not behave like tables anymore
      Hide table headers (but not display: none;, for accessibility)
    */
  
    .responsiveTable table,
    .responsiveTable thead,
    .responsiveTable tbody,
    .responsiveTable th,
    .responsiveTable td,
    .responsiveTable tr {
      display: block;
    }
  
    .responsiveTable thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      border-bottom: 2px solid #333;
      height: 5%;
    }
  
    .responsiveTable thead tr th {
      padding-top: 1%;
      padding-bottom:1%;
    }
  
    .responsiveTable tbody tr {
      border: 1px solid #000;
      padding: .25em;
    }
  
    .responsiveTable td.pivoted {
      /* Behave like a "row" */
      border: none !important;
      position: relative;
      padding-left: calc(50% + 10px) !important;
      text-align: left !important;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
  
    .responsiveTable td .tdBefore {
      /* Now like a table header */
      position: absolute;
      display: block;
  
      /* Top/left values mimic padding */
      left: 1rem;
      width: calc(50% - 20px);
      white-space: pre-wrap;
      overflow-wrap: break-word;
      text-align: left !important;
      font-weight: 600;
    }
  }  