div.App .navbar {
  background-color: #062614 !important;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  opacity: 75%;
}
  
div.App .menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  position: fixed;
}

div.App .nav-menu {
  background-color: #060b26 !important;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
}

div.App .nav-menu.active {
  left: 0;
  transition: 350ms;
  background: rgb(10, 59, 111) !important;
  z-index: 1;
  opacity: 100%;
}

div.App .nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

div.App .nav-text:hover {
  cursor: pointer;
  background-color: #4d568d !important;
  scale: 1.035;
}

div.App .nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

div.App .nav-text a:hover {
  background-color: #1a83ff !important;
}

div.App .nav-menu-items {
  width: 100%;
}

div.App .navbar-toggle {
  background-color: #060b26 !important;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.App span {
  margin-left: 16px;
  color: white;
}