/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap');

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #0762f9; }


/* Home page styles */

div.home h1 {
  padding-top: 2.5%;
  font-style: bold;
  text-align: center;
  color: white;
}

.home div.item{
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  height: auto;
  margin-left: 2vh; 
  margin-right: 2vh;
}

.home div.item div.home-content{
  background: none;
  height: auto;
}

.item {
  text-align: center;
  width: 100%;
  font-size: small;
  height: auto;
}

.homeCarousel{
  background: none !important;
}

.item div h1 {
  text-align: center;
  font-style: bold;
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
  outline: none;
  justify-content:center;
  margin-left: 2%;
  margin-right: 2%;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}

/* primary navigation */

.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;

 -webkit-transition: color .2s ease-in-out;
 -moz-transition: color .2s ease-in-out;
 -o-transition: color .2s ease-in-out;
 -ms-transition: color .2s ease-in-out;
 transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #fe6928; }

/* Notification title */
div.notification {
  box-shadow:5vh 5vh 7.5vh #131c27;
  margin-top:2.5%;
  margin-bottom: 2.5%;
  text-align: left;
}

/* Notification message */
.notification__message {
  text-align: right;
}

div.notifications-component{
  width: 25%;
  margin-left: 60%;
  margin-right: 5%;
  margin-top: 0%;
  padding-left: 5%;
  padding-right: 5%;
}

div.notification-container--top-full{
  padding-top: 5%;
  padding-bottom: 5%;
}

.notification__content{
  background: linear-gradient(rgba(106, 136, 245, 0.774), transparent), url(./assets/notification-background.jpg);
  background-position: cover;
}


#pick-option{
  text-align:center;
  font-size: 220%;
  line-height: 2.25;
  width: 100%;
}

div.col-5.d-flex.mb-3{
  max-width: fit-content;
}

.extras{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.extra-choices{
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 2%;
  padding-right: 2%;
}

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%; 
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
  }
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h1 {
  text-align: left;
  margin-bottom: 0.2vh;
  padding-top: 1.5vh;
  padding-bottom: 1vh;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

/* upload form styles */

label input{
  height: 0;
  width: 0;
  opacity: 0;
}

.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}


/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

.products-title h6 .title p{
  text-align: center;
}
.products-title h6{
  margin: 0 auto;
  font-size: 2.6rem;
}

.Gallery{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}
.title h1{
  color: white;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2{
  margin-top: 2.5%;
  font-size: 2.6rem;
}

h1#logo{
  font-size: 2.25rem;
}


/* image grid styles */
.img-grid{
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-left: 5%;
  padding-right: 5%;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}

/* Admin Section */

.admin-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: aliceblue;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.form-wrapper {
  background: linear-gradient(rgba(106, 136, 245, 0.774), transparent), url(./assets/form-background.png);
  background-size: cover;
  padding: 2rem;
  color: white;
}

.form-image {
  flex: 1 1 50rem;
}

.image-preview {
  width: 35rem;
}

.form-fields {
  flex: 3 1 50rem;
}

.form-fields input {
  width: 100%;
  height: 6rem;
  font-size: 4rem;
}

.form-fields textarea {
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 2rem;
}

.form-wrapper label {
  margin: 0rem 2rem;
  text-align: vertical;
}

.form-fields .featured-checkbox {
  width: 2rem;
  position: relative;
  top: 1.4rem;
}

.submit-form {
  width: 100%;
}

/* Featured Products and Products Section */

.featured-head {
  background: #343c44;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  margin: auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #efefef;
  background: floralwhite;
}

.featured-list {
  justify-content: space-evenly;
}

.featured-product {
  margin: 1rem 0;
}

.product-image {
  flex: 3 1 100rem;
  padding: 2rem 0rem;
}

.product-link {
  flex: 1 1 100rem;
  background: #55606c;
  font-size: 1.7rem;
  width: 100%;
  height: 100%;
}

.product-link:hover {
  background: #343c43;
}

.product img {
  width: 20%;
  height: auto;
}

/* Product Details Section */

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 80vh;
  text-align: center
}

.detail-image {
  text-align: center;
  width:500px;
  height:600px;
}

.image-formatting {
  width:500px;
  height:600px;
}

.detail-description {
  display: flex;
  flex: 1 1 50rem;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  padding: 0 5rem;
}

/* Cart Section */

.cart {
  width: 90%;
  margin: auto;
  text-align: center;
}

.cart-item {
  margin: 2rem 0rem;
  align-items: center;
}

.cart-item .amount {
  flex: 1 1 10rem;
}

div.cart-form .cart-tablerows {
  color: white;
  text-align: center;
  justify-content: space-evenly;
}

div.cart-form .cart-theader {
  padding-left: 8vh;
  padding-right: 8vh;
}

div.cart-form .cart-tablecells {
  padding-left: 8vh;
  padding-right: 8vh;
}

/* Checkout Section */

.checkout-wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.stripe-section {
  margin-top: 2rem;
}

@media screen and (max-width: 933px) {
  html {
    font-size: 62.5%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 1rem;
  }

  .product-details {
    margin-top: 4rem;
  }
}

/* Order Section */

.Order {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.flavor-form h1 {
  padding-bottom: 2.5vh;
}

div.shape-form h1 {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

div#Pineapple {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assets/pineapple-background.jpg);
  background-size: cover;
}

div#Pineapple:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(./assets/pineapple-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow:10px 10px 5px #131c27;
  font-style: italic;
  scale:1.035;
}

div#Strawberry {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assets/strawberry-background.jpg);
  background-size: cover;
}

div#Strawberry:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(./assets/strawberry-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow:10px 10px 5px #131c27;
  font-style: italic;
  scale:1.035;
}

div#Blueberry {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assets/blueberry-background.jpg);
  background-size: cover;
}

div#Blueberry:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(./assets/blueberry-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow:10px 10px 5px #131c27;
  font-style: italic;
  scale:1.035;
}

div#Black-Forest {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assets/black-forest.jpg);
  background-size: cover;
}

div#Black-Forest:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(./assets/black-forest.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow:10px 10px 5px #131c27;
  font-style: italic;
  scale:1.035;
}

div#Mango {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assets/mango-background.jpg);
  background-size: cover;
}

div#Mango:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(./assets/mango-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow:10px 10px 5px #131c27;
  font-style: italic;
  scale:1.035;
}

div#Butterscotch {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assets/butterscotch-background.jpg);
  background-size: cover;
}

div#Butterscotch:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(./assets/butterscotch-background.jpg);
  background-size: cover;
  cursor: pointer;
  box-shadow:10px 10px 5px #131c27;
  font-style: italic;
  scale:1.035;
}

div#Chocolate-Ganache {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assets/chocolate-ganache.png);
  background-size: cover;
  text-align: center;
}

div#Chocolate-Ganache:hover {
  background: linear-gradient(rgba(245, 116, 133, 0.5), transparent), url(./assets/chocolate-ganache.png);
  background-size: cover;
  cursor: pointer;
  box-shadow:10px 10px 5px #131c27;
  font-style: italic;
  scale:1.035;
}

div.tier-form {
  vertical-align: middle;
  color: white;
  text-align: center;
  justify-content: center;
}

Table Thead Tr Th{
    padding-top: 1%;
    padding-bottom:1%;
}

div#pick-option h1 {
  text-align: left;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

div.description-form h1 {
  text-align: left;
  padding-bottom: 2.5vh;
}

#submit-button {
  margin-top: 1.5%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1.5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  text-align: center;
  justify-content: space-evenly;
  font-size: 150%;
  background: linear-gradient(rgba(232, 237, 255, 0.774), transparent)
}

.responsiveTable td .tdBefore {
  display: none;
}

@media screen and (max-width: 40em) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
    height: 5%;
  }

  .responsiveTable thead tr th {
    padding-top: 1%;
    padding-bottom:1%;
  }

  .responsiveTable tbody tr {
    border: 1px solid #000;
    padding: .25em;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }

  /* Fade In */
  .fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

    @-ms-keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
    }
  }
}